body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .login-box {
    width: 100%;
    height: auto;
    margin: 4% auto;
    border-radius: 16px;
    padding: 25px 10px;
    background-color: white;
    text-align: center;
  }
h1{
  font-weight: bold;
}
h3{
  color: black;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
}