body {
  background-color: #344a72;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  background-position: center;
}
.login-box {
  width: 360px;
  height: auto;
  margin: 4% auto;
  border-radius: 16px;
  padding: 25px 10px;
  background-color: white;
}
.signup-box{
  width: 360px;
  height: auto;
  margin: 4% auto;
  border-radius: 16px;
  padding: 25px 10px;
  background-color: white;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

h1 {
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #4971c1;
}
